.info{
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    padding: 1.5rem;
    margin: 1rem;
    width: 1440px;
    height: 336px;
    background-image: url(../../assets/png-transparent-green-leaf-frame-wood-background-green-leaves-frame-board.png);
    gap: 1rem;

}
.infoRight{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    align-items: end;
    justify-content: space-around;
    gap: 2rem;
    padding: 2rem;

}
.infoRight h3,p{
color: white;
}
.infoRight h3{
    font-size: 25px;
}
.infoRight p{
    line-height: 25px;
}


.infoBtn{
    display: flex;
    justify-content:center;
    align-items: center;
width: 180px;
height: 40px;
gap: 10px;


}
.infoImgR{
    width: 24px;
    height: 24ox;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.infoBtn button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;
    gap: 1rem;
    background: none;
    border: 1px solid black;
}
.infoImgL{
    width: 20px;
    height: 20px;
}
.infos p{
font-size:  15px;

}
.infoImgUp img{
    width: 50px;
    height: 40px;
   
}
.infoLeftUp{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    cursor: pointer;
}
.infos{
    cursor: pointer;
    display: flex;


}
.infoLeftDown{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    cursor: pointer;
}
.infoLeft{
    display: flex;
    flex-direction: column;
    gap: 3.4rem;
}