.cardTitle img {
  width: 240px;
  height: 240px;
}
.cardTitle {
  display: flex;
 
  padding: 4rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;

}
.cardTitleBox {
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: #417f56;
  width: 300px;
  height: 130px;
 
 
}
.cardTitleP p {
  display: flex;
  
  text-align: center;
  justify-content: center;
  align-items: center;
 border: solid black 1px;
  border-radius: 5px;
  width: 150px;
  height: 50px;


}
.cardTitleP{
    display: flex;

    text-align: center;
    justify-content: center;
    align-items: center;

 

}